<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatwoot - PSW</title>
</head>
<body>
    <h1>Welcome to PSW Website</h1>

    <script>
        (function(d,t) {
          var BASE_URL="https://www.pswbot.concaveanalytics.com"
          var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=BASE_URL+"/packs/js/sdk.js";
          g.defer = true;
          g.async = true;
          s.parentNode.insertBefore(g,s);
          g.onload=function(){
            window.chatwootSDK.run({
              websiteToken: 'SQXTCX8swDkKoJPF5HkWrrTB',
              baseUrl: BASE_URL
            })
          }
        })(document,"script");
      </script>
      
    
</body>
</html>